<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="Model:GptOss120b:Name" value="openai/gpt-oss-120b" />
    <add key="Model:GptOss120b:Url" value="https://api.groq.com/openai/v1/" />
    <add key="Model:GptOss120b:Group" value="groq_api_key" />
    
    <add key="Model:Gemini35FlashLite:Name" value="Gemini 3.5 Flash Lite" />
    <add key="Model:Gemini35FlashLite:Url" value="https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-flash-lite:generateContent" />
    <add key="Model:Gemini35FlashLite:Group" value="gemini_api_key" />

    <add key="Model:Gemini31FlashLite:Name" value="Gemini 3.1 Flash Lite" />
    <add key="Model:Gemini31FlashLite:Url" value="https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite-preview:generateContent" />
    <add key="Model:Gemini31FlashLite:Group" value="gemini_api_key" />
    
    <add key="Model:Gemma31B:Name" value="Gemma 4 31B" />
    <add key="Model:Gemma31B:Url" value="https://generativelanguage.googleapis.com/v1beta/models/gemma-4-31b-it:generateContent" />
    <add key="Model:Gemma31B:Group" value="gemini_api_key" />

    <add key="Model:Gemma26B:Name" value="Gemma 4 26B" />
    <add key="Model:Gemma26B:Url" value="https://generativelanguage.googleapis.com/v1beta/models/gemma-4-26b-a4b-it:generateContent" />
    <add key="Model:Gemma26B:Group" value="gemini_api_key" />

    <add key="Model:Gemini31FlashTTS:Name" value="Gemini 3.1 Flash TTS" />
    <add key="Model:Gemini31FlashTTS:Url" value="https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-tts-preview:generateContent" />
    <add key="Model:Gemini31FlashTTS:Group" value="gemini_api_key" />

    <add key="Model:Gemini3FlashLive:Name" value="Gemini 3 Flash Live" />
    <add key="Model:Gemini3FlashLive:Url" value="https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash-preview:generateContent" />
    <add key="Model:Gemini3FlashLive:Group" value="gemini_api_key" />

    <add key="Model:Gemini35TranscribeLive:Name" value="Gemini 3.5 Transcribe Live" />
    <add key="Model:Gemini35TranscribeLive:Url" value="https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-transcribe-live:generateContent" />
    <add key="Model:Gemini35TranscribeLive:Group" value="gemini_api_key" />

    <add key="Model:Agenx:Name" value="Agenx" />
    <add key="Model:Agenx:Url" value="https://api.agenx.com/v1/" />
    <add key="Model:Agenx:Group" value="agenx_api_key" />
    <add key="Model:Agenx:AutoPrompt" value="Used for:
         Getting the time - get time/get date/get datetime,
         File write operations - save file [{filepath}],
         File read operations - read file [{filepath}],
         Folder operations - list folders/files [{folderpath}],
         Sending mails - send mail [{title}] [{recipient(s)}] [{content}],
         Sending messages - send message [{recipient}] [{content}]" />

  </appSettings>
</configuration>