<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Model:GeminiFlashLite:Name" value="Gemini 3.1 Flash Lite" />
    <add key="Model:GeminiFlashLite:Url" value="https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite-preview:generateContent" />

    <add key="Model:Gemma31B:Name" value="Gemma 4 31B" />
    <add key="Model:Gemma31B:Url" value="https://generativelanguage.googleapis.com/v1beta/models/gemma-4-31b-it:generateContent" />

    <add key="Model:Gemma26B:Name" value="Gemma 4 26B" />
    <add key="Model:Gemma26B:Url" value="https://generativelanguage.googleapis.com/v1beta/models/gemma-4-26b-a4b-it:generateContent" />
  </appSettings>
</configuration>